/* @import url('https://fonts.googleapis.com/css?family=Barlow:400,500,600&display=swap'); */

@font-face {
  font-family: 'Cereal';
  src: url('./fonts/AirbnbCerealApp-Black.eot');
  src: url('./fonts/AirbnbCerealApp-Black.eot?#iefix') format('embedded-opentype'), url('./fonts/AirbnbCerealApp-Black.woff2') format('woff2'), url('./fonts/AirbnbCerealApp-Black.woff') format('woff'), url('./fonts/AirbnbCerealApp-Black.ttf') format('truetype'), url('./fonts/AirbnbCerealApp-Black.svg#AirbnbCerealApp-Black') format('svg');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Cereal';
  src: url('./fonts/AirbnbCerealApp-Book.eot');
  src: url('./fonts/AirbnbCerealApp-Book.eot?#iefix') format('embedded-opentype'), url('./fonts/AirbnbCerealApp-Book.woff2') format('woff2'), url('./fonts/AirbnbCerealApp-Book.woff') format('woff'), url('./fonts/AirbnbCerealApp-Book.ttf') format('truetype'), url('./fonts/AirbnbCerealApp-Book.svg#AirbnbCerealApp-Book') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cereal';
  src: url('./fonts/AirbnbCerealApp-Medium.eot');
  src: url('./fonts/AirbnbCerealApp-Medium.eot?#iefix') format('embedded-opentype'), url('./fonts/AirbnbCerealApp-Medium.woff2') format('woff2'), url('./fonts/AirbnbCerealApp-Medium.woff') format('woff'), url('./fonts/AirbnbCerealApp-Medium.ttf') format('truetype'), url('./fonts/AirbnbCerealApp-Medium.svg#AirbnbCerealApp-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Cereal';
  src: url('AirbnbCerealApp-Bold.eot');
  src: url('AirbnbCerealApp-Bold.eot?#iefix') format('embedded-opentype'), url('AirbnbCerealApp-Bold.woff2') format('woff2'), url('AirbnbCerealApp-Bold.woff') format('woff'), url('AirbnbCerealApp-Bold.ttf') format('truetype'), url('AirbnbCerealApp-Bold.svg#AirbnbCerealApp-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Cereal';
  src: url('./fonts/AirbnbCerealApp-Light.eot');
  src: url('./fonts/AirbnbCerealApp-Light.eot?#iefix') format('embedded-opentype'), url('./fonts/AirbnbCerealApp-Light.woff2') format('woff2'), url('./fonts/AirbnbCerealApp-Light.woff') format('woff'), url('./fonts/AirbnbCerealApp-Light.ttf') format('truetype'), url('./fonts/AirbnbCerealApp-Light.svg#AirbnbCerealApp-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Cereal';
  src: url('./fonts/AirbnbCerealApp-ExtraBold.eot');
  src: url('./fonts/AirbnbCerealApp-ExtraBold.eot?#iefix') format('embedded-opentype'), url('./fonts/AirbnbCerealApp-ExtraBold.woff2') format('woff2'), url('./fonts/AirbnbCerealApp-ExtraBold.woff') format('woff'), url('./fonts/AirbnbCerealApp-ExtraBold.ttf') format('truetype'), url('./fonts/AirbnbCerealApp-ExtraBold.svg#AirbnbCerealApp-ExtraBold') format('svg');
  font-weight: 800;
  font-style: normal;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Cereal', "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

/* @media (min-width: 620px) {
  body {
    max-width: 600px;
    margin: 0 auto;
  }
} */

* {
  box-sizing: border-box;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, 'Cereal', "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

body {
  font-family: 'Barlow', sans-serif;
  height: 100%;
  font-size: 16px;
  background-color: #FCFDFF;
  line-height: 1.5;
  /* margin: 0 auto; */
}

section#drawer-1 {
  background-color: #38a169;
}