@import url('https://fonts.googleapis.com/css?family=Barlow:400,500,600&display=swap');
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Barlow', "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

@media (min-width: 620px) {
  body {
    max-width: 600px;
    margin: 0 auto;
  }
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Barlow', "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  overflow: hidden;
}

body {
  margin: 0 auto;
  font-family: 'Barlow', sans-serif;
  height: 100%;
  font-size: 16px;
  color: #444444;
  text-align: left;
  line-height: 1.5;
}

section#drawer-1 {
  background-color: #38a169;
}